html,
body,
#root,
.react-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: whitesmoke;
}

.centered {
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
}

.red {
  background-color: red;
  color: whitesmoke;
}

.blue {
  background-color: blue;
  color: whitesmoke;
}

.yellow {
  background-color: yellow;
  color: black;
}
